@inherits LayoutComponentBase
@using Blazored.SessionStorage;
@using Assignment01.EntityProviders;


<PageTitle>Assignment01</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code {
    
    [Inject]
    private ISessionStorageService SessionStorage { get; set; }

    private string Role { get; set; } = string.Empty;

    protected override async void OnInitialized() {
        try {
            Role = await SessionStorage.GetItemAsStringAsync(AppRole.Role);
        } catch {
        }
            StateHasChanged();
        base.OnInitialized();
    }
}