@using Blazored.SessionStorage;
@using Microsoft.AspNetCore.Http;
@using Assignment01.EntityProviders;

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (Role == string.Empty || Role == null) {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span>
                    <label>Home</label>
                </NavLink>
            </div>
        }
        @if (Role == AppRole.Admin) {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Categories">
                    <span class="oi oi-list" aria-hidden="true"></span> Categories
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Products">
                    <span class="oi oi-monitor" aria-hidden="true"></span> Products
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Members">
                    <span class="oi oi-people" aria-hidden="true"></span> Members
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Orders">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Orders
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" >
                    <span class="oi oi-account-logout" aria-hidden="true"></span>  <TopView />
                </NavLink>
            </div>
        } else if (Role == AppRole.Member) {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Categories">
                    <span class="oi oi-list" aria-hidden="true"></span> Categories
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Products">
                    <span class="oi oi-monitor" aria-hidden="true"></span> Products
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="MyOrders">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Orders
                </NavLink>
            </div> 
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Carts">
                    <span class="oi oi-list-cart" aria-hidden="true"></span> Carts
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link">
                    <span class="oi oi-account-logout" aria-hidden="true"></span>  <TopView />
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    [Inject]
    private ISessionStorageService SessionStorage { get; set; }

    private bool IconMenuActive { get; set; } = true;

    [Parameter]
    public EventCallback<bool> ShowIconMenu { get; set; }

    private string Role { get; set; } = string.Empty;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu() {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task ToggleIconMenu() {
        IconMenuActive = !IconMenuActive;
        await ShowIconMenu.InvokeAsync(IconMenuActive);
    }

    protected override async Task OnInitializedAsync() {
        try {
            Role = await SessionStorage.GetItemAsStringAsync(AppRole.Role);
        } catch {
            Role = string.Empty;
        }
        StateHasChanged();
    }
}
